@font-face {
    font-family:"VT323-Regular" ;
    src: url("VT323-Regular.ttf");
}


body{
    margin:0;
    padding:0;
    display:flex;  
    flex-direction: column;
}

#background
{
z-index: 1;
opacity: 20%;
border:2px red solid;

}

#avatard{
display:inline-block;
top: 0px;
 height:30%; 
 z-index: 2;
position:absolute;
}


#texte{
    font-family: "VT323-Regular",impact;
    font-size: 300%;
    position:absolute;
    left:20%;
    z-index: 2;  
    
}

#motivation{
    border:2px black solid;
    position:absolute;
    z-index: 2;
    margin-top: 15%;
    
}

li {
    list-style-type: none;
    font-family: impact;
}